@import url("../tools/normalize.min.css");
:root {
  --clr-white: #ffffff;
  --clr-black: #1E1B1B;
  --clr-gray-lt: #f3f5f9;
  --clr-gray: #596060;
  --clr-accent: #FF6C18;
  --font-main: "Raleway", Arial, Helvetica, sans-serif;
  --fz56: clamp(20px, 2.91vw, 56px);
  --fz40: clamp(18px, 2.08vw, 40px);
  --fz32: clamp(18px, 1.66vw, 32px);
  --fz28: clamp(18px, 1.45vw, 28px);
  --fz24: clamp(18px, 1.46vw, 24px);
  --btn24: clamp(15px, 1.46vw, 24px);
  --fz21: clamp(15px, 1.09vw, 21px);
  --fz20: clamp(15px, 1.04vw, 20px);
  --fz16: clamp(14px, 0.83vw, 16px);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 400;
  font-size: var(--fz22);
  color: var(--clr-black);
}

html {
  scroll-behavior: smooth;
}

html.noScroll body {
  overflow: hidden;
  -webkit-overflow-scrolling: none;
  padding-right: 15px;
}

@media (max-width: 600px) {
  html.noScroll body {
    padding: 0;
  }
}
a {
  text-decoration: none !important;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  -webkit-font-feature-settings: "ordn" on;
  font-feature-settings: "ordn" on;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
}

h1 {
  font-family: var(--font-main);
  font-weight: 300;
  font-size: var(--fz33);
  line-height: 112%;
  letter-spacing: -0.6px;
  color: var(--clr-violet);
}
h1 strong {
  font-weight: 600;
}

h2 {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: var(--fz33);
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--clr-violet);
}

h3 {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: var(--fz24);
  line-height: 100%;
  letter-spacing: -0.6px;
}

h4 {
  font-weight: 600;
  font-size: var(--fz24);
  line-height: 150%;
  color: var(--clr-violet);
  letter-spacing: -0.6px;
  text-align: center;
}

sup {
  font-size: 0.55em;
  top: -0.65em;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  font-weight: 400;
  font-size: var(--fz15);
  line-height: 133%;
  color: var(--clr-black);
}

img {
  max-width: 100%;
  display: block;
}

/* Star rating */
.woostudy-rating {
  height: 20px;
}

.woostudy-rating-count,
.woostudy-rating-not {
  position: relative;
  right: -78px;
  top: -18px;
  margin-bottom: -18px !important;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #808080;
}

.woostudy-rating-not {
  right: 0;
  top: -4px;
}

@font-face {
  font-family: star;
  src: url(../fonts/star.eot);
  src: url(../fonts/star.eot?#iefix) format("embedded-opentype"), url(../fonts/star.woff) format("woff"), url(../fonts/star.ttf) format("truetype"), url(../fonts/star.svg#star) format("svg");
  font-weight: 400;
  font-style: normal;
}
.products .product .star-rating {
  font-size: 0.857em;
}

.woocommerce .star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: star;
}

.woocommerce .star-rating::before {
  content: "sssss";
  color: #d3ced2;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}

.woocommerce .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.woocommerce .star-rating span::before {
  content: "SSSSS";
  top: 0;
  position: absolute;
  left: 0;
  color: #FFD333;
}

.woocommerce .woocommerce-product-rating {
  line-height: 2;
  display: block;
}

.woocommerce .woocommerce-product-rating::after,
.woocommerce .woocommerce-product-rating::before {
  content: " ";
  display: table;
}

.woocommerce .woocommerce-product-rating::after {
  clear: both;
}

.woocommerce .woocommerce-product-rating .star-rating {
  margin: 0.5em 4px 0 0;
  float: left;
}

.woocommerce .products .star-rating {
  display: block;
  margin: 0 0 0.5em;
  float: none;
}

.woocommerce .hreview-aggregate .star-rating {
  margin: 10px 0 0;
}

.products .product .star-rating,
.products .wc-block-grid__product .star-rating,
.wc-block-grid__products .product .star-rating,
.wc-block-grid__products .wc-block-grid__product .star-rating {
  margin: 0;
}

/* Star rating */
/* VARIOUS BLOCKS: START */
.section {
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.section__content {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
  padding-left: clamp(20px, 1.563vw, 30px);
  padding-right: clamp(20px, 1.563vw, 30px);
}

.delivery {
  padding-top: clamp(16px, 3.333vw, 64px);
}
.delivery__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(257.19deg, #FFC2F2 20.13%, #96A7FF 100%);
}
.delivery__content__img {
  margin-right: clamp(12px, 4.427vw, 85px);
}
.delivery__content__texts {
  max-width: 500px;
}
.delivery__content__texts .main_text {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 104%;
  color: #FFFFFF;
  margin-bottom: clamp(12px, 0.938vw, 18px);
}
.delivery__content__texts .title_text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 133%;
  color: #FFFFFF;
}

.manufacturers {
  padding-top: clamp(16px, 3.333vw, 64px);
}
.manufacturers__main_text {
  padding-bottom: clamp(12px, 2.083vw, 40px);
}
.manufacturers__main_text h4 {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  color: #333333;
}
.manufacturers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.manufacturers__items__item {
  padding: clamp(12px, 1.25vw, 24px);
  padding-top: clamp(20px, 2.396vw, 46px);
  padding-bottom: clamp(20px, 2.396vw, 46px);
  border: 1px solid #F7F7F7;
  border-right: 0;
  border-top: 0;
  width: 16.666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.manufacturers__items__item:nth-child(-n+6) {
  border-top: 1px solid #F7F7F7;
}
.manufacturers__items__item:nth-child(6n) {
  border: 1px solid #F7F7F7;
}

.news {
  padding-top: clamp(16px, 3.333vw, 64px);
}
.news__main_text {
  padding-bottom: clamp(12px, 2.083vw, 40px);
}
.news__main_text h4 {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 117%;
  color: #333333;
}
.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news__items__item {
  cursor: pointer;
  border: 1px solid #F7F7F7;
  width: 33.33%;
  margin-right: clamp(8px, 0.521vw, 10px);
}
.news__items__item:last-child {
  margin-right: 0;
}
.news__items__img {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: linear-gradient(257.19deg, #FFC2F2 20.13%, #96A7FF 100%);
}
.news__items__texts {
  padding: clamp(12px, 0.833vw, 16px);
  padding-top: clamp(16px, 1.25vw, 24px);
  padding-bottom: clamp(16px, 1.667vw, 32px);
}
.news__items__date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #808080;
  margin-bottom: clamp(6px, 0.417vw, 8px);
}
.news__items__main_text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #333333;
  padding-bottom: clamp(12px, 0.833vw, 16px);
}
.news__items__title_text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 138%;
  color: #808080;
}

.footer {
  margin-top: clamp(16px, 3.333vw, 64px);
  padding-top: clamp(16px, 3.333vw, 64px);
  padding-bottom: clamp(16px, 3.333vw, 64px);
  background: #F7F7F7;
}

.header {
  padding-top: clamp(12px, 0.833vw, 16px);
  padding-bottom: clamp(12px, 1.042vw, 20px);
}
.header .top_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .top_bar__location p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: #808080;
  background: url(../public/icons/map_icon.svg) 0 0 no-repeat;
  padding-left: clamp(17px, 0.885vw, 17px);
}
.header .top_bar__menu ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.header .top_bar__menu ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 117%;
  color: #808080;
  margin-right: clamp(12px, 2.083vw, 40px);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.header .top_bar__menu ul li:hover {
  color: #3E6480;
}
.header .top_bar__menu ul li:last-child {
  margin-right: 0;
}
.header .top_content {
  margin-top: clamp(12px, 0.938vw, 18px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .top_content__logo {
  margin-right: clamp(12px, 2.083vw, 40px);
}
.header .top_content__catalog {
  margin-right: clamp(12px, 1.25vw, 24px);
}
.header .top_content__catalog .catalog_button {
  padding: clamp(8px, 0.625vw, 12px);
  padding-right: clamp(8px, 0.938vw, 18px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px #64B3FB solid;
  border-radius: 4px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.header .top_content__catalog .catalog_button p {
  margin-left: clamp(4px, 0.313vw, 6px);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #64B3FB;
}
.header .top_content__catalog .catalog_button img {
  opacity: 0;
}
.header .top_content__catalog .catalog_button .normal {
  opacity: 1;
}
.header .top_content__catalog .catalog_button .active {
  opacity: 0;
  display: none;
}
.header .top_content__catalog .catalog_button:hover {
  background: #64B3FB;
}
.header .top_content__catalog .catalog_button:hover .active {
  opacity: 1;
  display: block;
}
.header .top_content__catalog .catalog_button:hover p {
  color: #fff;
}
.header .top_content__catalog .catalog_button:hover .normal {
  opacity: 0;
  display: none;
}
.header .top_content__search {
  margin-right: clamp(12px, 3.333vw, 64px);
}
.header .top_content__search #search {
  padding: clamp(8px, 0.625vw, 12px);
  padding-left: clamp(8px, 1.042vw, 20px);
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #808080;
  max-width: 314px;
  width: 314px;
  outline: none;
  background: url(../public/icons/search_icon.svg) 96% center no-repeat;
}
.header .top_content__search #search::-webkit-input-placeholder {
  color: #c9c9c9;
}
.header .top_content__search #search::-moz-placeholder {
  color: #c9c9c9;
}
.header .top_content__search #search:-ms-input-placeholder {
  color: #c9c9c9;
}
.header .top_content__search #search::-ms-input-placeholder {
  color: #c9c9c9;
}
.header .top_content__search #search::placeholder {
  color: #c9c9c9;
}
.header .top_content__search #search::-ms-clear, .header .top_content__search #search::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.header .top_content__search #search::-webkit-search-decoration, .header .top_content__search #search::-webkit-search-cancel-button, .header .top_content__search #search::-webkit-search-results-button, .header .top_content__search #search::-webkit-search-results-decoration {
  display: none;
}
.header .top_content__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .top_content__callback .phone_number {
  margin-right: clamp(12px, 1.25vw, 24px);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: #333333;
}
.header .top_content__callback .order_callback {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 100%;
  color: #7F7F7F;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.header .top_content__callback .order_callback:hover {
  color: #3E6480;
}
.header .top_content__controlls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 224px;
  margin-left: auto;
}
.header .top_content__controlls__item {
  margin-right: clamp(12px, 1.563vw, 30px);
}
.header .top_content__controlls__item img {
  margin: 0 auto;
  margin-bottom: clamp(6px, 0.313vw, 6px);
}
.header .top_content__controlls__item p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #333333;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.header .top_content__controlls__item p:hover {
  color: #3E6480;
}

.top_slider {
  width: 100%;
}
.top_slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: linear-gradient(257.19deg, #FFC2F2 20.13%, #96A7FF 100%);
  padding: clamp(12px, 0.521vw, 10px);
  padding-left: clamp(12px, 3.333vw, 64px);
  padding-right: clamp(12px, 2.604vw, 50px);
}
.top_slider__text {
  min-height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: clamp(16px, 2.083vw, 40px);
}
.top_slider__text .main_text {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 104%;
  color: #FFFFFF;
  margin-bottom: clamp(12px, 0.938vw, 18px);
}
.top_slider__text .title_text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 133%;
  color: #FFFFFF;
  margin-bottom: clamp(16px, 1.25vw, 24px);
}
.top_slider__text .button_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top_slider__text .button_box .button {
  padding: clamp(12px, 0.833vw, 16px);
  padding-left: clamp(16px, 1.406vw, 27px);
  padding-right: clamp(16px, 1.406vw, 27px);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: #FFFFFF;
  border-radius: 6px;
  border: 2px #fff solid;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.top_slider__text .button_box .button:hover {
  background: #64B3FB;
  border-color: #64B3FB;
  color: #fff;
}
.top_slider__img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.advantage {
  margin-top: clamp(16px, 1.25vw, 24px);
}
.advantage__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1040px;
  margin: 0 auto;
}
.advantage__items__item {
  width: 25%;
  margin-right: clamp(16px, 4.167vw, 80px);
}
.advantage__items__item:last-child {
  margin-right: 0;
}
.advantage__items__item img {
  margin: 0 auto;
  margin-bottom: 8px;
}
.advantage__items__item h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #333333;
  margin-bottom: 8px;
}
.advantage__items__item p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #6A6A6A;
}

.recommendation {
  margin-top: clamp(16px, 2.917vw, 56px);
}
.recommendation__main_text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  color: #333333;
  margin-bottom: clamp(16px, 2.083vw, 40px);
}
.recommendation__items .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.recommendation__items__item {
  position: relative;
  border: 1px solid #F7F7F7;
  border-right: 0;
  border-top: 0;
  width: 25%;
  -webkit-transition: -webkit-box-shadow 0.6s ease;
  transition: -webkit-box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}
.recommendation__items__item:nth-child(-n+4) {
  border-top: 1px solid #F7F7F7;
}
.recommendation__items__item:hover {
  -webkit-box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.12);
  border-color: #fff;
  z-index: 100;
}
.recommendation__items__item:hover .onsale {
  padding: clamp(4px, 0.313vw, 6px);
  padding-left: clamp(24px, 1.25vw, 24px);
  padding-right: clamp(8px, 0.521vw, 10px);
  font-size: 12px;
  width: auto;
  height: auto;
}
.recommendation__items__item:nth-child(4n) {
  border-right: 1px solid #F7F7F7;
}
.recommendation__items__item .product_availability {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: clamp(8px, 0.729vw, 14px);
}
.recommendation__items__item .product_availability .stock {
  color: #22A41F;
}
.recommendation__items__item .product_availability .outofstock {
  color: #F8552C;
}
.recommendation__items__item .product_availability .onrequest {
  color: #cc2cf8;
}
.recommendation__items__item__img_box {
  padding: clamp(12px, 1.667vw, 32px);
  padding-bottom: clamp(12px, 0.833vw, 16px);
  padding-top: clamp(40px, 2.917vw, 56px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recommendation__items__item__img_box .onsale {
  padding: clamp(4px, 0.313vw, 6px);
  padding-left: clamp(24px, 1.25vw, 24px);
  padding-right: clamp(8px, 0.521vw, 10px);
  background: url(../public/icons/discount_label_icon.svg) 6px center no-repeat, #22A41F;
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  font-size: 0;
  padding: 0;
  width: 25px;
  height: 24px;
  -webkit-transition: padding-right 0.6s ease;
  transition: padding-right 0.6s ease;
}
.recommendation__items__item__img_box img {
  width: auto;
  max-height: 200px;
  margin: 0 auto;
}
.recommendation__items__item__info {
  padding: clamp(12px, 0.833vw, 16px);
  padding-bottom: clamp(12px, 1.25vw, 24px);
  margin-bottom: 0;
  border-top: 1px solid #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recommendation__items__item__info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: clamp(6px, 0.417vw, 8px);
}
.recommendation__items__item__info .price .amount {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #333333;
}
.recommendation__items__item__info .price ins {
  text-decoration: none;
}
.recommendation__items__item__info .price del {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  text-decoration-line: line-through;
  color: #ACACAC;
}
.recommendation__items__item__info .price del .amount {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  text-decoration-line: line-through;
  color: #ACACAC;
}
.recommendation__items__item__info h2 {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: #6A6A6A;
  margin-bottom: clamp(8px, 0.625vw, 12px);
  max-width: 220px;
}
.recommendation__items__item__info .add_to_cart_button,
.recommendation__items__item__info .product_type_simple {
  display: inline-block;
  padding: clamp(12px, 1.042vw, 20px);
  padding-bottom: clamp(8px, 0.521vw, 10px);
  padding-top: clamp(8px, 0.521vw, 10px);
  border: 1px solid #64B3FB;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: #64B3FB;
}
.recommendation__items__item__info .add_to_cart_button:hover,
.recommendation__items__item__info .product_type_simple:hover {
  background: #64B3FB;
  color: #fff;
}
.recommendation__items__item__rating {
  max-height: 20px;
  margin-bottom: clamp(6px, 0.417vw, 8px);
}

.recommendation2 .recommendation__items .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.recommendation2 .recommendation__items .recommendation__items__item {
  display: none !important;
  position: relative;
  border: 1px solid #F7F7F7;
  border-right: 0;
  border-top: 0;
  width: 25%;
  -webkit-transition: -webkit-box-shadow 0.6s ease;
  transition: -webkit-box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease;
  transition: box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}
.recommendation2 .recommendation__items .recommendation__items__item:nth-child(-n+4) {
  display: block !important;
  border-top: 1px solid #F7F7F7;
}
.recommendation2 .recommendation__items .recommendation__items__item:nth-child(4n) {
  border-right: 1px solid #F7F7F7;
}