/* VARIOUS BLOCKS: START */
.section {
  margin: 0 auto;
  position: relative;
  width: 100%;

  &__content {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    @include adaptive(padding-left, 20, 30);
    @include adaptive(padding-right, 20, 30);
  }
}

@media (max-width: 360px) {
  
}
  /* Star rating */
  .woostudy-rating {
    height: 20px;
  }
  .woostudy-rating .woostudy-rating-count {
    position: relative;
    right: -50px;
    top: -27px;
  }
  @font-face {
    font-family:star;
    src:url(../fonts/star.eot);
    src:url(../fonts/star.eot?#iefix) format("embedded-opentype"),url(../fonts/star.woff) format("woff"),url(../fonts/star.ttf) format("truetype"),url(../fonts/star.svg#star) format("svg");
    font-weight:400;
    font-style:normal;
  }
  @font-face {
    font-family:WooCommerce;
    src:url(../fonts/WooCommerce.eot);
    src:url(../fonts/WooCommerce.eot?#iefix) format("embedded-opentype"),url(../fonts/WooCommerce.woff) format("woff"),url(../fonts/WooCommerce.ttf) format("truetype"),url(../fonts/WooCommerce.svg#WooCommerce) format("svg");
    font-weight:400;
    font-style:normal;
  }
  .products .product .star-rating {
    font-size: .857em;
  }
  .woocommerce .star-rating {
    /*float: right;*/
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: star;
  }
  .woocommerce .star-rating::before {
    content: "sssss";
    color: #d3ced2;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }
  .woocommerce .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
  }
  .woocommerce .star-rating span::before {
    content: "SSSSS";
    top: 0;
    position: absolute;
    left: 0;
    color: #FFD333;
  }
  .woocommerce .woocommerce-product-rating {
    line-height: 2;
    display: block;
  }
  .woocommerce .woocommerce-product-rating::after,
  .woocommerce .woocommerce-product-rating::before {
    content: " ";
    display: table;
  }
  .woocommerce .woocommerce-product-rating::after {
    clear: both;
  }
  .woocommerce .woocommerce-product-rating .star-rating {
    margin: .5em 4px 0 0;
    float: left;
  }
  .woocommerce .products .star-rating {
    display: block;
    margin: 0 0 .5em;
    float: none;
  }
  .woocommerce .hreview-aggregate .star-rating {
    margin: 10px 0 0;
  }
  
  .products .product .star-rating,
  .products .wc-block-grid__product .star-rating,
  .wc-block-grid__products .product .star-rating,
  .wc-block-grid__products .wc-block-grid__product .star-rating {
    margin: 0 auto .5407911001em;
  }
  
  .woocommerce p.stars a{position:relative;height:1em;width:1em;text-indent:-999em;display:inline-block;text-decoration:none}
  .woocommerce p.stars a::before{display:block;position:absolute;top:0;left:0;width:1em;height:1em;line-height:1;font-family:WooCommerce;content:"\e021";text-indent:0}
  .woocommerce p.stars a:hover~a::before{content:"\e021"}
  .woocommerce p.stars:hover a::before{content:"\e020"}
  .woocommerce p.stars.selected a.active::before{content:"\e020"}
  .woocommerce p.stars.selected a.active~a::before{content:"\e021"}
  .woocommerce p.stars.selected a:not(.active)::before{content:"\e020"}
  /* Star rating */


  /* Star rating */
  .woostudy-rating {
    height: 20px;
  }
  
  .woostudy-rating-count,
  .woostudy-rating-not {
    position: relative;
    right: -78px;
    top: -18px;
    margin-bottom: -18px !important;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #808080;
  }
  
  .woostudy-rating-not {
    right: 0;
    top: -4px;
  }
  
  @font-face {
    font-family: star;
    src: url(../fonts/star.eot);
    src: url(../fonts/star.eot?#iefix) format("embedded-opentype"), url(../fonts/star.woff) format("woff"), url(../fonts/star.ttf) format("truetype"), url(../fonts/star.svg#star) format("svg");
    font-weight: 400;
    font-style: normal;
  }
  
  .products .product .star-rating {
    font-size: .857em;
  }
  
  .woocommerce .star-rating {
    float: right;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: star;
  }
  
  .woocommerce .star-rating::before {
    content: "sssss";
    color: #d3ced2;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .woocommerce .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
  }
  
  .woocommerce .star-rating span::before {
    content: "SSSSS";
    top: 0;
    position: absolute;
    left: 0;
    color: #FFD333;
  }
  
  .woocommerce .woocommerce-product-rating {
    line-height: 2;
    display: block;
  }
  
  .woocommerce .woocommerce-product-rating::after,
  .woocommerce .woocommerce-product-rating::before {
    content: " ";
    display: table;
  }
  
  .woocommerce .woocommerce-product-rating::after {
    clear: both;
  }
  
  .woocommerce .woocommerce-product-rating .star-rating {
    margin: .5em 4px 0 0;
    float: left;
  }
  
  .woocommerce .products .star-rating {
    display: block;
    margin: 0 0 .5em;
    float: none;
  }
  
  .woocommerce .hreview-aggregate .star-rating {
    margin: 10px 0 0;
  }
  
  .products .product .star-rating,
  .products .wc-block-grid__product .star-rating,
  .wc-block-grid__products .product .star-rating,
  .wc-block-grid__products .wc-block-grid__product .star-rating {
    margin: 0;
  }
  
  /* Star rating */