.delivery {
  @include adaptive(padding-top, 16, 64);

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(257.19deg, #FFC2F2 20.13%, #96A7FF 100%);

    &__img {
      @include adaptive(margin-right, 12, 85);
    }

    &__texts {
      max-width: 500px;

      .main_text {
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 104%;
        color: #FFFFFF;
        @include adaptive(margin-bottom, 12, 18);
      }

      .title_text {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 133%;
        color: #FFFFFF;
      }
    }
  }
}

.manufacturers {
  @include adaptive(padding-top, 16, 64);

  &__main_text {
    @include adaptive(padding-bottom, 12, 40);

    h4 {
      text-align: left;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 117%;
      color: #333333;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;

    &__item {
      @include adaptive(padding, 12, 24);
      @include adaptive(padding-top, 20, 46);
      @include adaptive(padding-bottom, 20, 46);
      border: 1px solid #F7F7F7;
      border-left: 0;
      border-top: 0;
      width: 16.666%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:nth-child(-n+6) {
        border-top: 1px solid #F7F7F7;
      }

      &:nth-child(6n) {
        border: 1px solid #F7F7F7;
      }

      &:nth-child(6n-5) {
        border-left: 1px solid #F7F7F7;
      }
    }
  }
}

.news {
  @include adaptive(padding-top, 16, 64);

  &__main_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptive(padding-bottom, 12, 32);

    h4 {
      text-align: left;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 117%;
      color: #333333;
    }

    .button {
      @include adaptive(padding, 12, 20);
      @include adaptive(padding-bottom, 8, 10);
      @include adaptive(padding-top, 8, 10);
      border: 1px solid #64B3FB;
      border-radius: 6px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      transition: all 0.6s ease;

      color: #64B3FB;

      &:hover {
        background: #64B3FB;
        color: #fff;
      }
    }
  }

  &__items {
    display: flex;

    &__item {
      cursor: pointer;
      border: 1px solid #F7F7F7;
      width: 33.33%;
      @include adaptive(margin-right, 8, 10);

      &:last-child {
        margin-right: 0;
      }
    }

    &__img {
      position: relative;
      min-height: 300px;

      .label {
        top: 12px;
        right: 12px;
        position: absolute !important;

        span {
          @include adaptive(padding, 6, 10);
          @include adaptive(padding-bottom, 4, 6);
          @include adaptive(padding-top, 4, 6);
          border-radius: 12px;
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
          color: #fff;
          //border: 1px solid #fff;
        }

        &_news {
          background-color: #47BCFF !important;
        }

        &_promo {
          background-color: #29cd5d !important;
        }

        &_review {
          background-color: #e56fff !important;
        }

        &_default,
        &_slider {
          display: none;
        }
      }

      img {
        width: 100% !important;
      }
    }

    &__texts {
      @include adaptive(padding, 12, 16);
      @include adaptive(padding-top, 16, 24);
      @include adaptive(padding-bottom, 16, 32);
    }

    &__date {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #808080;
      @include adaptive(margin-bottom, 6, 8);
    }

    &__main_text {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 133%;
      color: #333333;
      @include adaptive(padding-bottom, 12, 16);
    }

    &__title_text {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 138%;
      color: #808080;
    }
  }
}

.footer {
  @include adaptive(margin-top, 16, 64);
  @include adaptive(padding-top, 16, 64);
  @include adaptive(padding-bottom, 16, 64);
  background: #F7F7F7;

  &__items {
    display: flex;

    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #505050;
      margin-bottom: 12px;
    }

    ul {
      li {
        margin-bottom: 6px;

        a {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #757575;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .instagram-link {
      background: url('../public/icons/instagram_icon.png') 0 0 no-repeat !important;
      padding-left: 24px;
    }

    &__menu {
      width: 16%;
      margin-right: 3%;
    }

    &__info {
      width: 16%;
      margin-right: 3%;
    }

    &__schedule {
      width: 16%;
      margin-right: 7%;
    }

    &__contacts {
      width: 21%;
    }
  }
}
