.post_page {
	&__content {
		display: flex;
		justify-content: space-between;

		@media (max-width: 640px) {
			flex-direction: column;
		}
	}

	@media (max-width: 640px) {
		&__left {
			width: 100% !important;
			order: 2;
		}

		&__right {
			width: 100% !important;
			order: 1;
			margin-bottom: 16px;

			aside {
				display: flex;
				flex-wrap: wrap;

				div {
					width: 48%;

					&:last-child {
						width: 100%;
					}
				}
			}
		}
	}

	&__left {
		width: 72%;
		display: flex;
		flex-wrap: wrap;

		.news__items__item {
			width: 100%;
			margin-right: 0;
			@include adaptive(margin-bottom, 8, 16);
		}

		.attachment-post-thumbnail {
			width: 100%;
			object-fit: cover;
      object-position: center;
			@include adaptive(height, 240, 480);
		}

		.post_date {
			width: 100%;
			@include adaptive(margin-top, 8, 16);

			font-style: normal;
			font-weight: 400;
			@include adaptive(font-size, 14, 18);
			line-height: 138%;
			color: #6A6A6A;
			@include adaptive(margin-bottom, 8, 12);
		}

		h2, h3 {
			text-align: left;
			width: 100%;
			display: block;
			font-style: normal;
			font-weight: 500;
			@include adaptive(font-size, 16, 24);
			line-height: 110%;
			color: #333333;
			@include adaptive(margin-bottom, 8, 12);
		}

		h4 {
			text-align: left;
			width: 100%;
			display: block;
			font-style: normal;
			font-weight: 500;
			@include adaptive(font-size, 16, 20);
			line-height: 110%;
			color: #333333;
			@include adaptive(margin-bottom, 8, 12);
		}

		p {
			width: 100%;
			display: block;
			font-style: normal;
			font-weight: 400;
			@include adaptive(font-size, 14, 16);
			line-height: 138%;
			color: #6A6A6A;
			@include adaptive(margin-bottom, 8, 12);

			strong {
				font-weight: 600;
			}
		}

		ul {
			display: block;
			font-style: normal;
			font-weight: 400;
			@include adaptive(font-size, 14, 16);
			line-height: 138%;
			color: #6A6A6A;
			@include adaptive(margin-bottom, 8, 12);

			li {
				color: #6A6A6A;
			}
		}

		.hashtags {
			display: inline;
			@include adaptive(margin-bottom, 16, 32);

			li {
				display: inline;
				@include adaptive(margin-right, 8, 12);
				color: #6A6A6A;
				font-style: normal;
				font-weight: 400;
				@include adaptive(font-size, 14, 16);
				line-height: 138%;
				color: #6A6A6A;
				@include adaptive(margin-bottom, 8, 12);
				max-width: 220px;

				span {
					color: #64B3FB;
				}

				&:hover {
					color: #3E6480;
				}
			}
		}

		.comments {
			width: 100%;
			display: block;

			h3 {
				width: 100%;
			}

			.comment-form {
				max-width: 640px !important;
			}
		}

		.commentlist {
			padding: 0;
			list-style-type: none;
			max-width: 400px;

			.children {
				@include adaptive(margin-left, 12, 24);
			}

			li {
				@include adaptive(margin-bottom, 12, 24);
			}

			p, .commentmetadata a, .url {
				color: #6A6A6A;
				margin-bottom: 0px;
			}

			.meta {
				margin-bottom: 0;
			}

			.comment-text {
				@include adaptive(margin-top, 8, 12);
			}

			.reply a {
				@include adaptive(font-size, 12, 14);
				color: #3E6480;
			}

			.comment-body {
				@include adaptive(margin-bottom, 12, 24);

			}

			.meta {
				margin-bottom: 0;
			}

			.comment-text {
				@include adaptive(margin-top, 8, 12);
			}

			.avatar {
				width: 60px !important;
				height: 60px !important;
				margin-bottom: 12px;
			}
		}

		#respond  {
			#reply-title {
				display: block;
				color: var(--black, #333);
				@include adaptive(font-size, 16, 20);
				font-style: normal;
				font-weight: 500;
				line-height: 140%;
				@include adaptive(margin-bottom, 12, 24);
				margin-right: auto;
				text-align: left;
				max-width: 480px;
			}

			.comment-form-comment label {
				display: inline-block;
				margin-bottom: 8px;
			}
			
			#comment, #author, #email, #url {
				width: 100%;
				resize: none;
				border: 1px solid #ccc;
				border-radius: 4px;
				padding: 12px;

				font-style: normal;
				font-weight: 400;
				@include adaptive(font-size, 14, 16);
				line-height: 130%;
				color: #6A6A6A;

				&:focus, &:active, &::selection {
					outline: none;
					border: 1px solid #64B3FB !important;
					
				}
			}

			#submit {
				display: inline-block;
				@include adaptive(padding, 12, 24);
				@include adaptive(padding-bottom, 8, 15);
				@include adaptive(padding-top, 8, 16);
				//background: #64B3FB;
				border: 1px solid #64B3FB;
				border-radius: 6px;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 14px;
				transition: all 0.6s ease;
				background: none;
				color: #64B3FB;

				&:hover {
					background: #64B3FB;
					color: #fff;
				}
			}
		}
	}

	&__right {
		width: 26%;

		h2 {
			font-style: normal;
			font-weight: 400;
			@include adaptive(font-size, 16, 20);
			line-height: 110%;
			color: #333333;
			@include adaptive(margin-bottom, 8, 12);
		}

		ul {
			@include adaptive(margin-bottom, 16, 24);
		}

		.hashtags_sidebar ul {
			display: inline;

			li {
				display: inline;
				@include adaptive(margin-right, 8, 12);
				
			}
			
		}

		li {
			display: block;
			font-style: normal;
			font-weight: 400;
			@include adaptive(font-size, 14, 16);
			line-height: 138%;
			color: #6A6A6A;
			@include adaptive(margin-bottom, 8, 12);
			max-width: 220px;

			span {
				color: #64B3FB;
			}

			&:hover {
				color: #3E6480;
			}
		}

		.archivieren {
			li {
				color: #64B3FB;
			}

			a {
				color: #6A6A6A;

				&:hover {
					color: #3E6480;
				}
			}
		}
	}
}