.recommendation {
  @include adaptive(margin-top, 16, 56);

  .owl-nav {
    display: none !important;
  }

  &__main_text {
    font-style: normal;
    font-weight: 400;
    @include adaptive(font-size, 18, 24);
    line-height: 110%;
    color: #333333;
    @include adaptive(margin-bottom, 12, 40);
  }

  &__items {
    .products {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      margin-top: 0 !important;
      position: relative;
      border: 1px solid #F7F7F7;
      border-right: 0;
      border-top: 0;
      width: 25%;
      transition: box-shadow 0.6s ease;

      @media (max-width: 600px) {
        width: 50%;
      }

      &:nth-child(-n+4) {
        border-top: 1px solid #F7F7F7;
      }

      &:hover {
        box-shadow: 0px 8px 56px rgba(0, 0, 0, 0.12);
        border-color: #fff;
        z-index: 100;

        .onsale {
          @include adaptive(padding, 4, 6);
          @include adaptive(padding-left, 24, 24);
          @include adaptive(padding-right, 8, 10);
          font-size: 12px;
          width: auto;
          height: auto;
        }
      }

      &:nth-child(4n) {
        border-right: 1px solid #F7F7F7;
      }

      .product_availability {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        @include adaptive(margin-bottom, 8, 14);

        .stock {
          color: #22A41F;
        }

        .outofstock {
          color: #F8552C;

        }

        .onrequest {
          color: #cc2cf8;
        }
      }

      &__img_box {
        @include adaptive(padding, 8, 32);
        @include adaptive(padding-bottom, 8, 16);
        @include adaptive(padding-top, 16, 56);
        display: flex;
        justify-content: center;

        .onsale {
          @include adaptive(padding, 4, 6);
          @include adaptive(padding-left, 24, 24);
          @include adaptive(padding-right, 8, 10);
          background: url(../public/icons/discount_label_icon.svg) 6px center no-repeat, #22A41F;
          position: absolute;
          top: 12px;
          right: 12px;
          border-radius: 100px;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #FFFFFF;

          font-size: 0;
          padding: 0;
          width: 25px;
          height: 24px;
          transition: padding-right 0.6s ease;
        }

        img {
          width: auto;
          max-height: 200px;
          margin: 0 auto;
        }
      }

      &__info {
        @include adaptive(padding, 12, 16);
        @include adaptive(padding-bottom, 12, 24);
        margin-bottom: 0;
        border-top: 1px solid #F7F7F7;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        .price {
          display: flex;
          flex-direction: column;
          @include adaptive(margin-bottom, 4, 8);

          .amount {
            font-style: normal;
            font-weight: 500;
            @include adaptive(font-size, 18, 24);
            line-height: 100%;
            color: #333333;
          }

          ins {
            text-decoration: none;
          }

          del {
            font-style: normal;
            font-weight: 400;
            @include adaptive(font-size, 14, 16);
            line-height: 110%;
            text-decoration-line: line-through;
            color: #ACACAC;

            .amount {
              font-style: normal;
              font-weight: 400;
              @include adaptive(font-size, 14, 16);
              line-height: 110%;
              text-decoration-line: line-through;
              color: #ACACAC;
            }
          }
        }

        h2 {
          display: block;
          font-style: normal;
          font-weight: 400;
          @include adaptive(font-size, 14, 16);
          line-height: 138%;
          color: #6A6A6A;
          @include adaptive(margin-bottom, 8, 12);
          max-width: 220px;
        }

        .add_to_cart_button,
        .product_type_simple {
          display: inline-block;
          @include adaptive(padding, 12, 20);
          @include adaptive(padding-bottom, 8, 10);
          @include adaptive(padding-top, 8, 10);
          //background: #64B3FB;
          border: 1px solid #64B3FB;
          border-radius: 6px;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          transition: all 0.6s ease;

          color: #64B3FB;

          &:hover {
            background: #64B3FB;
            color: #fff;
          }
        }

        .added_to_cart {
          @include adaptive(margin-top, 8, 10);
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #64B3FB;
        }
      }

      &__rating {
        max-height: 20px;
        @include adaptive(margin-bottom, 6, 8);
      }
    }
  }
}

.recommendation2 {
  position: relative;

  .owl-nav {
    width: 100%;
    position: relative;
    position: absolute;
    top: 36%;

    .owl-prev {
      position: absolute;
      left: -48px;
      border: 1px solid #F7F7F7 !important;
      background: url(../public/icons/arrow_slider_icon.svg) center no-repeat !important;
      width: 40px;
      height: 40px;
      transition: all 0.6s ease;

      &:hover {
        background: url(../public/icons/arrow_slider_icon_2.svg) center no-repeat, #64B3FB !important;
      }
    }

    .owl-next {
      position: absolute;
      right: -48px;
      border: 1px solid #F7F7F7 !important;
      background: url(../public/icons/arrow_slider_icon.svg) center no-repeat !important;
      width: 40px;
      height: 40px;
      transform: rotate(180deg);
      transition: all 0.6s ease;

      &:hover {
        background: url(../public/icons/arrow_slider_icon_2.svg) center no-repeat, #64B3FB !important;
      }
    }
  }

  .owl-dots {
    @include adaptive(margin-top, 12, 24);
    width: 100%;
    display: flex;
    justify-content: center;

    .owl-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #dcdcdc !important;
      margin-right: 8px;

      &.active {
        background: #dcdcdc;
      }
    }
  }

  .recommendation__items {
    .products {
      display: flex;
      flex-wrap: wrap;
    }

    .owl-stage {
      display: flex;
    }

    .owl-carousel .owl-item img {
      width: auto;
    }


    .recommendation__items__item {
      position: relative;
      width: 100%;
      height: 100%;


      &:hover {
        box-shadow: none;
        border: 1px solid #F7F7F7;
        border-right: 0;
      }
    }
  }
}