.top_slider {
  width: 100%;

  &__content {
    max-height: 540px;
    @include adaptive(max-height, 320, 540);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptive(padding, 12, 10);
    @include adaptive(padding-left, 12, 64);
    @include adaptive(padding-right, 12, 50);
  }

  .owl-carousel,
  .owl-products {
    padding: 0 !important;
    position: relative;

    .owl-dots {
      max-width: 1280px;
      width: 100%;
      position: absolute;
      bottom: 16px;
      display: flex;
      justify-content: center;

      .owl-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-right: 8px;

        &.active {
          background: #fff;
        }
      }
    }
  }

  &__text {
    min-height: 540px;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include adaptive(margin-right, 16, 40);

    .main_text {
      font-style: normal;
      font-weight: 500;
      @include adaptive(font-size, 32, 48);
      line-height: 104%;
      color: #FFFFFF;
      @include adaptive(margin-bottom, 12, 18);
    }

    .title_text {
      font-style: normal;
      font-weight: 300;
      @include adaptive(font-size, 16, 24);
      line-height: 133%;
      color: #FFFFFF;
      @include adaptive(margin-bottom, 16, 24);
    }

    .button_box {
      display: flex;

      .button {
        @include adaptive(padding, 12, 16);
        @include adaptive(padding-left, 16, 27);
        @include adaptive(padding-right, 16, 27);

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 119%;
        color: #FFFFFF;
        border-radius: 6px;

        border: 2px #fff solid;
        transition: all 0.6s ease;

        &:hover {
          background: #64B3FB;
          border-color: #64B3FB;
          color: #fff;
        }
      }
    }
  }

  &__img {
    align-self: flex-end;
  }

}